Types: deb
URIs: ${APT_MIRROR}
Suites: ${SUITE} ${SUITE}-updates ${SUITE}-backports
Components: ${COMPONENTS}
Signed-By: ${KEYRING}

Types: deb
URIs: ${SECURITY_MIRROR}
Suites: ${SUITE}-security
Components: ${COMPONENTS}
Signed-By: ${KEYRING}
